.place__all {
  float: left;
  margin: 0 auto;
  padding-top: 60px;
  height: 100%;
  .place__box {
    float: left;
    margin-top: 10px;
    margin-left: 47px;
    height: 300px;
  }
  a {
    color: rgb(0, 60, 255);; 
    text-decoration: none;
  }
  .place_user_name h1 {
    color: rgb(0, 60, 255);;
    font-size: 30px;
  }
  .place_likes_user_name {
    float: left;
    clear: both;
    h2 {
      color: rgb(0, 60, 255);;
      font-size: 30px;
    }
  }
}