.place
  = render partial: 'places/header' 

  .new
    .new__create
      .new__place
        %h1 地点の情報を編集

        = render 'form'

        = link_to '詳細', @place
        \・
        = link_to 'トップページ', places_path
