.place
  .place__header
    .place__header__logo
      %li i sharing
    .place__header__user
      %li 良平
    .place__header__sign-up
      %li 新規登録
    .place__header__log-in
      %li ログイン
    .place__header__log-out
      %li ログアウト
    .place__header__new-create
      %li 新規作成
  .place__content
    .place__map
    .place__list
      .place__list__item
        .place__list__item__user
          %h1 良平
        .place__list__item__time 
          %h2 2019-11-15
      .place__list__item__image
        = image_tag '/IMG_1268.jpeg'
      .place__list__item__address
        %h3 瀬戸内海
  .place__footer
      
